.golden-text {
    color: #cba574;
}

.golden-text-dark {
    color: #b99863;
}

.golden-bg {
    background: #cba574;
}

.banner_area {
    background: #f2f2f2;
    background-size: cover;
}

.bg-blue {
    background: #0073ad;
}

.form_widget_area {
    background: -webkit-gradient(linear, left bottom, left top, from(#e0e0e0), to(#fff));
    background: linear-gradient(0deg, #e0e0e0, #fff);
    border-radius: 15px;
    padding: 15px;
    max-width: 300px;
    width: 100%;
    -webkit-box-shadow: 0 2px 5px #ccc;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 30px;
    position: relative;
    margin-top: -15px;
}

.form-select {
    color: #495057;
}

.form_widget_area .form-control, .form-select {
    border-radius: 15px;
    height: 40px;
    border: 1px solid #a6a8ab;
}

.form-para-text {
    font-size: 14px;
    font-weight: 500;
}

.db_logo {
    margin: -40px;
    margin-bottom: 10px;
}

.form_head {
    text-transform: uppercase;
}

.form-para {
    font-size: 14px;
    font-weight: 500;
    color: #b99863;
}

.form_head_text {
    font-size: 22px;
    line-height: normal;
    font-weight: 500;
    color: #606060;
}

.form-check-label.small {
    font-size: 10px;
}

.book_btn {
    background: #b99863 !important;
    color: #fff;
    border: #e4837e !important;
    padding: 5px 25px;
}

.banner_text {
    color: #606060 !important;
    padding-top: unset;
}

.banner_text h1 {
    font-size: 32px;
    line-height: normal;
    font-weight: 300;
}

.banner_text h1 span {
    color: #a98449;
}

.banner-para {
    font-size: 20px;
    margin-top: 15px;
    border-top: 1px solid #717272;
    border-bottom: 1px solid #717272;
    padding: 10px 0;
}

.title-head {
    font-size: 24px;
    width: 100%;
    color: #0073ad;
    text-align: center;
    line-height: normal;
}

.intro-text {
    font-size: 30px !important;
}

.offer {
    width: auto;
    display: inline-block;
    padding: 0 15px;
    position: relative;
    line-height: 50px;
    height: 50px;
    color: #fff;
    background: #0073ad;
    background: -webkit-gradient(linear, left top, right top, from(#0073ad), color-stop(50%, #0073ad), to(#0073ad));
    background: linear-gradient(90deg, #0073ad 0%, #0073ad 50%, #0073ad 100%);
    font-weight: bold;
    font-size: 20px;
}

.offer::after {
    position: absolute;
    right: -30px;
    float: left;
    top: 0;
    z-index: 0;
    bottom: 0;
    content: '';
    height: 0;
    width: 0;
    border-width: 25px 15px;
    border-color: #0073ad transparent #0073ad #0073ad;
    border-style: solid;
}

.success-rate {
    margin-left: 0;
}

.stm-para {
    font-size: 18px;
}

.card-subtitle {
    font-size: 22px;
    color: #58595b !important;
}

.card-body {
    padding: 20px 0;
}

.card h3 {
    font-size: 26px;
}

.card-footer {
    position: relative;
    border: none;
}

.card-footer::after {
    position: absolute;
    content: '';
    opacity: 0.5;
    width: 90%;
    height: 1px;
    background: #656565;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    z-index: 1;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .banner_text h1 {
        font-size: 28px !important;
    }

    .success-rate {
        max-width: 120px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .card-subtitle {
        font-size: 18px;
    }

    .success-rate {
        margin-left: 30px;
    }

    .title-head {
        font-size: 28px;
    }

    .banner_area {
        background: #eae8e9;
        margin-top: 60px;
        background-size: cover;
    }

    .form_widget_area {
        margin-top: 40px;
    }

    .form_widget_area.position_sticky {
        z-index: 1000;
        right: 10%;
    }

    .position_sticky {
        position: fixed;
        top: 0;
        z-index: 999;
    }
}

.band-head {
    font-size: 32px;
}

@media screen and (max-width: 577px) {
    .offer {
        left: 0;
        padding: 0;
    }

    .band-head {
        font-size: 20px;
    }

    .offer, .serum-works {
        font-size: 12px;
    }

    .serum-works tr:last-child .offer {
        width: 100px !important;
    }
}

.shape {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width: 767.98px) {
    .banner_area {
        height: auto;
        background: #f2f2f2;
        background-repeat: repeat;
    }

    .banner_text h1, .banner_h2, .head_text {
        font-size: 26px;
    }

    .why-db-block img {
        height: 45px;
    }
}

.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -25px;
    padding: 0;
    cursor: pointer;
    border: 2px solid #cba574;
    outline: none;
    background: #fff;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before, .slick-next:before {
    font-family: inherit;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 0;
}

.slick-prev:before {
    content: ' ';
    background: url(../images/home/right_arrw.png) center center no-repeat;
    width: 14px;
    height: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateY(180deg);
    transform: translate(-50%, -50%) rotateY(180deg);
}

.slick-next {
    right: 0;
}

.slick-next:before {
    content: ' ';
    background: url(../images/home/right_arrw.png) center center no-repeat;
    width: 14px;
    height: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.testm-bg {
    background: #fdf4ea;
}

.testm-text {
    color: #656565;
    font-size: 20px;
}

.sliderItem figure div {
    background: linear-gradient(135deg,rgba(185,152,99,1) 0%,rgba(224,205,152,1) 25%,rgba(248,237,184,1) 50%,rgba(215,193,143,1) 75%,rgba(172,138,91,1) 100%);
}

.sliderItem figure div p {
    color: #606060;
    font-weight: 500;
}

.testimonialSlider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-size: 40px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: 'â€¢';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.testimonialSlider {
    background: #fff6e0;
    border: 3px solid #383838;
    border-radius: 30px;
    padding-top: 50px !important;
    position: relative;
}

.testimonialSlider::after {
    content: '';
    width: 80px;
    height: 80px;
    margin: auto;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: -40px;
    background: url(../../hair_transplant_images/quotes.png) no-repeat;
}

.testimonialSlider p.text-justify {
    font-size: 12px;
}

.addressSection {
    background-color: #383838;
    color: #fff;
}

.addressSection .location-block h4 {
    font-size: 14px;
}

.addressSection .location-block p {
    font-size: 13px;
}

.addressSection .location-block p span {
    font-weight: 500;
}

@media (max-width: 575.98px) {
    .fade-bg {
        background: #fffefa;
        opacity: .9;
    }

    .addressSection .location-block p {
        font-size: 14px;
    }

    .addressSection .location-block p br {
        display: none;
    }
}

.benefits-area {
    width: 100%;
    min-height: 400px;
    height: 100%;
    background: url(../../image/hair_transplant_images/benefits-treatment-bg.jpg) top center no-repeat;
    background-size: cover;
}

.benefit-main-img {
    width: 280px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: relative;
    display: block;
}

.benefit-text-1, .benefit-text-2, .benefit-text-3, .benefit-text-4, .benefit-text-5, .benefit-text-6 {
    position: unset;
    width: 50%;
    float: left;
    max-width: unset;
    min-height: 125px;
}

@media screen and (min-width: 767.98px) {
    .benefits-area {
        width: 100%;
        min-height: 400px;
        background: url(../../hair_transplant_images/benefits-treatment-bg.jpg) top center no-repeat;
        background-size: cover;
    }

    .benefit-main-img {
        width: 280px;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: relative;
        display: block;
    }

    .benefit-text-1, .benefit-text-2, .benefit-text-3, .benefit-text-4, .benefit-text-5, .benefit-text-6 {
        display: block;
        max-width: 200px;
        width: 100%;
    }

    .benefit-text-1 {
        position: absolute;
        left: -100px;
        top: 75px;
    }

    .benefit-text-2 {
        position: absolute;
        left: -75px;
        top: 175px;
    }

    .benefit-text-3 {
        position: absolute;
        left: -100px;
        top: 275px;
    }

    .benefit-text-4 {
        position: absolute;
        right: -75px;
        top: 75px;
    }

    .benefit-text-5 {
        position: absolute;
        right: -125px;
        top: 175px;
    }

    .benefit-text-6 {
        position: absolute;
        right: -150px;
        top: 275px;
    }
}

.serum-works tr:nth-child(even) {
    background: #ebeced;
}

.serum-works tr:nth-child(odd) {
    background: #d2d2d2;
}

.arr-table {
    background: #eef0f1;
}

.arr-table tbody tr td {
    padding: 15px 0;
}

.arr-table tbody tr {
    border-bottom: 1px solid #ccc;
}

.arr-table tbody tr:first-child {
    border-bottom: none;
}

.arr-table tbody tr:last-child {
    border-bottom: 4px solid #383838;
}

.arr-table tbody tr:first-child td {
    padding: 0;
}

.arr-table tbody tr td:nth-child(2) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.shape {
    width: 100%;
    height: 100px;
    background: #0073ad;
    background: -webkit-gradient(linear, left top, right top, from(#0073ad), color-stop(50%, #0073ad), to(#0073ad));
    background: linear-gradient(90deg, #0073ad 0%, #0073ad 50%, #0073ad 100%);
    margin: 0 auto;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.shape.arrow-point {
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 50% 100%, 0 70%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 70%, 50% 100%, 0 70%);
}

.dark-bg {
    background: #606161 !important;
}

.contactFormHolder {
    position: fixed;
    right: 90px;
    top: 30px;
    width: 300px;
    z-index: 9999;
}

.contactForm {
    min-height: 100px;
    background-color: #ffffff;
    background-image: linear-gradient(0deg, #e0e0e0, #ffffff);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 30px;
    padding: 30px 15px;
}

.formLogo {
    max-width: 120px;
    margin: 0 auto;
    margin-top: -40px;
    padding: 2px;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.formLogo img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto auto;
    position: relative;
    z-index: 1;
}

.contactForm h2 {
    font-size: 1.25em;
    line-height: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 10px 0 15px 0;
}

.contactForm .form-control, .form-select {
    width: 100%;
    outline: none;
    box-shadow: none;
    border-color: #a6a8ab;
    border-radius: 15px;
    font-family: inherit;
    height: 35px;
    font-size: 0.875em;
    font-family: inherit;
/*    padding: 5px 10px;*/
}

.contactForm .form-control:focus {
    border-color: #0073ad;
}

.contactForm select.form-control {
    background: #ffffff url(../../image/hairloss_images_v2/arrow-down.png) no-repeat right 10px center;
    appearance: none;
}

.contactForm select.form-control::-ms-expand {
    display: none;
}

.contactForm .row {
    margin-bottom: 1rem;
}

.contactForm .form-check-label {
    font-size: 10px;
}

.contactForm .form-check-label a {
    color: #0e74af;
}

.contactForm .form-action {
    text-align: center;
    padding-top: 15px;
}

.btn-primary {
    outline: none;
    border: none;
    font-family: 'freesansbold';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1em;
    background: #0073ad !important;
    color: #ffffff !important;
    border: none;
    padding: 15px 30px 10px 30px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3) !important;
    transition: 0.5s;
    outline: none !important;
}

.btn-primary:hover {
    background: #d5d0c9 !important;
    color: #000000 !important;
}

@media (max-width: 1140px) {
    .contactFormHolder {
        position: static;
        display: inline-block;
        right: auto;
        top: 75px;
        width: 100%;
        z-index: 3;
        padding: 30px 30px 30px 30px;
        background-color: #eae9e7;
    }

    .contactForm {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {

       .uae_oxy_banner{
        padding-top: 260px;
       }

       .contactFormHolder {
        position: absolute;
        display: inline-block;
        right: auto;
        top: 75px;
        width: 100%;
        z-index: 3;
        padding: 30px 30px 30px 30px;
        background-color: #eae9e7;
    }

    .formLogo {
        display: none;
    }

    .contactForm h2 {
        font-size: 1.5em;
        padding-top: 0;
    }

    .btn-primary {
        font-size: 1em;
    }
}


@media (max-width: 550px){
  .contactFormHolder {
        position: absolute;
        display: inline-block;
        right: auto;
        top: 30px;
        width: 100%;
        z-index: 3;
        padding: 30px 30px 30px 30px;
        background-color: #eae9e7;
    }
}

@media (max-width: 500px){
  .contactFormHolder {
        position: absolute;
        display: inline-block;
        right: auto;
        top: 80px;
        width: 100%;
        z-index: 3;
        padding: 30px 30px 30px 30px;
        background-color: #eae9e7;
    }
}

.contactForm {
    padding: 15px !important;
}

.select2-container {
    width: 100% !important;
    height: 35px !important;
    line-height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container .select2-selection--single {
    width: 100% !important;
    height: 35px !important;
    line-height: 35px !important;
}

.error {
    color: #f00 !important;
}

.btn-form {
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: 1em;
    line-height: 1em;
    background: #0073ad !important;
    color: #fff !important;
    border: none;
    padding: 15px 30px 10px 30px;
    border-radius: 30px !important;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%) !important;
    transition: 0.5s;
    outline: none !important;
}

.form-widget .dblogo {
    margin: 0 auto;
    display: block;
    margin-top: -30px;
    position: absolute;
    left: 0;
    right: 0;
}

.contactForm .row {
/*    margin: 0 !important;*/
}

.form-group label {
    display: block;
    overflow: auto;
}

.form-widget .card-body {
    border: none!important;
}

.form-widget .form-group {
    width: 100% !important;
    display: block;
}

.form-widget .dblogo {
    margin: 0 auto;
    display: block;
    margin-top: -30px;
}

nav img {
    margin-top: 0;
}

.panel-body input[type=radio]:checked+label div {
    background: none !important;
}

.payment-options label div {
    height: auto !important;
    padding: 0 !important;
}

.clinic_brief .fa, .clinic_brief .fas, .clinic_brief .far {
    color: #0073ad;
}

.row.align-items-stretch .card:only-of-type {
    height: 100%;
}

.clinic_desc h3 {
    font-size: 24px;
    text-transform: uppercase;
}

.clinic_desc h2 {
    font-size: 28px;
    text-transform: uppercase;
}

.calender {
    max-width: 272px;
    width: 100%;
}

.banner_desktop button {
    border-radius: unset;
}

.btn_card {
    border-radius: 30px !important;
    padding: 10px 0;
    margin-bottom: 0;
    text-decoration: none !important;
    display: block;
    font-family: 'Proxima Nova Rg';
    background: #fff;
    border: 1px solid #e6e7e8;
    position: relative;
    box-shadow: 5px 5px 8px #ccc;
}

.btn_card_blue {
    background-image: linear-gradient(#00bbce 55%, #0073ad);
    color: #fff;
    border: none;
}

.btn_card h3 {
    font-size: 19px;
    font-family: 'Proxima Nova Rg';
}

.btn_card b {
    font-size: 18px;
}

.grey_text {
    color: #626e77 !important;
}

.card_profile_pic {
    width: 80px;
    display: block;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.bk_now_btn {
    position: absolute;
    background-image: linear-gradient(#e5486a 55%, #be1e2d);
    text-shadow: 2px 2px 4px #414042;
    font-size: 17px;
    padding: 7px 30px;
    height: auto;
    display: block;
    bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 180px;
    border-radius: 35px;
}

del {
    text-decoration: none;
}

.cross {
    position: relative;
    display: inline-block;
}

.cross::before, .cross::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.cross::before {
    border-bottom: 2px solid red;
    -webkit-transform: skewY(-10deg);
    etransform: skewY(-10deg);
}

@media (max-width: 575px) {
    .pop-image {
        padding-bottom: 10px;
    }

    .pop-lt {
        padding: 15px 0 0 !important;
    }

    .pop-rt h2 {
        font-size: 1.25em !important;
    }
}

.blink_me {
    animation: blinker 1s linear infinite;
    text-transform: uppercase;
    font-weight: bold;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #ffffff;
    z-index: 10;
}

.loader {
    border: 5px solid #ec1f26;
    border-radius: 50%;
    border-top: 5px solid #0d74af;
    border-bottom: 5px solid #0d74af;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}